/*Reset Styling*/
@import "reset_css.css";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 70px;
  line-height: 35px;
  background: linear-gradient(to left, #14a2ba, #125d72);
  z-index: 1;
}

.nav {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  font-size: 20px;
  background-color: #125d72;
}

.bars {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.bars i {
  font-size: 35px;
  color: #efe62f;
  cursor: pointer;
  line-height: 70px;
  margin: 0 20px;
}

.nav ul li {
  color: #efe62f;
  cursor: pointer;
  padding: .5em;
  margin-top: .5em;
  -webkit-box-shadow: inset 0 7px 15px -7px  #000000;
  box-shadow:         inset 0 7px 15px -7px #000000;
}

.addUserForm {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, .5);
  z-index: 10;
}

.form {
  width: 20%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  font-size: 16px;
}

.form h3 {
  font-size: 25px;
}


.Panel {
  position: absolute;
  top: 70px;
  left: 100%;
  width: calc(100% - 300px);
  height: calc(100% - 70px);
  /* text-align: center;
  font-size: 25px;
  font-weight: bold; */
  transition: all .2s ease;
  z-index: -1;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
   border: 1px solid black;
}

th, td {
    padding: 7px;
    text-align: left;
}
