/*Reset Styling*/
@import "reset_css.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: lightblue;
}
.map {
  display: none;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightblue;
  border: 1px solid navy;
}

#jatim_map {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.reg {
  fill:#009b4c;
}
.city {
  fill:#e40082;
}

.cls:hover, .group:hover .reg {
  stroke: #002868;
  stroke-width:10px;
  stroke-linejoin: round;
}

#infobox {
  display: none;
  position: absolute;
  font-size: 16px;
  top: 0px;
  left: 0px;
  z-index: 1;
  color: white;
  background-color: #00aabb;
  border-radius: 5px 5px 5px 0;
  padding: 5px;
}

#infobox::after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-bottom: -5px;
}

.workspace {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(68, 67, 67, .7);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  padding-top: 40px;
}

.close {
  padding: 5px;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.Areaname {
  padding: 5px;
  font-weight: bold;
  font-size: 25px;
}

.Areaname i {
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
